.contact-sec{
    .content{
        .title{
            text-align: center;
            color: #fff;
            font-size: 23px;
            margin-bottom: 50px;
        }

        form{
            .text{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin-bottom: 45px;

                a{
                    margin-bottom: 10px;
                    span{
                        position: relative;
                        color: #fff;
                        font-size: 20px;
    
                        &::after{
                            content: '';
                            position: absolute;
                            left: -32px;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 24px;
                            height: 24px;
                            border-radius: 50%;
                            background-color: #fff;
                        }
                    }

                    &:first-child ::after{
                        background-color: var(--sec-color);
                    }
                }

            }
        }
    }
}

@media (max-width:476px) {
    .contact-sec{
        .content{

            form{
                .text{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 35px;
                    flex-wrap: wrap;
    
                    a{
                        margin-left: 30px;
                        margin-bottom: 10px;
                        span{
                            font-size: 16px;
        
                            &::after{
                                left: -20px;
                                width: 15px;
                                height: 15px;
                            }
                        }

                        &:last-of-type{
                            margin-left: 0;
                        }
                    }
    
                }
            }
        }
    }
}