
.orderPrev-sec{
    .boxs{
        .box{
            .img{
                margin-left: 10px;
            }

            .content{
                width: 50%;
            }

            .buttons{
                display: block;
                text-align: end;
                width: 35%;
            }
        }
    }
}

@media (max-width:767px) {
    .orderPrev-sec{
        .boxs{
            .box{
                .img{
                    margin-left: 10px;
                }

                .content{
                    width: 100%;
                }

                .buttons{
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}
